<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}} | Groupie Tracker</title>
</head>
<body>
    <header>
        <a href="http://localhost:8080">Go to Main Page</a>
    </header>

    <article>

        <section>
            <h3>{{.Name}}</h3>
            <img src="{{.Image}}" alt="artist image" width="240">
            <ul>Members:
                {{range .Members}}
                <li>{{.}}</li>
                {{end}}
            </ul>
            <p>Creation Date: {{.CreationDate}} year</p>
            <p>First Album: {{.FirstAlbum}}</p>

            {{range $city, $date := .RelationsData.DatesLocation}}
                <p>{{ $city }}</p>
                {{range $date}}
                <p>{{ . }}</p>
                {{end}}
            {{end}}
        </section>

    </article>

</body>
</html>