<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Trackers | Artists</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>

    <section>
        <article class="card-table">

            <form class="form" action="/artist" name="artist-list" method="GET">
                    
                <input class="search-bar" type="text" name="artist" placeholder="type artist's name">
                <input class="btn" type="submit" value="Go to">
                <select class="artists-list" name="artist">
                    {{range .}}
                        <option value="{{.Name}}">{{.Name}}</option>
                    {{end}}
                </select>
                {{range .}}
                    <a class="img-link" href="http://localhost:8080/artist?artist={{.Name}}">
                        <img class="artists-image" src="// NAME //" alt="{{.Name}}" width="200" height="200">
                    </a>
                {{end}}
            </form>
        
        </article>
    </section>

</body>
</html>