<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Trackers | Artists</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" href="/assets/img/favicon-32x32.png" type="image/x-icon">
</head>
<body>
    <header class="header" id="top-header">
        <h1 >Groupie Trackers</h1>
    </header>
    
    <section class="main">
        <article class="card-table">
            
            <form class="search-bar" action="/search" method="POST">
                <input class="input-bar" list="search-bar" id="search-input" name="search-bar" placeholder="type something..." autocomplete="off">
                <datalist id="search-bar">
                    {{range .}}
                    <option value="{{.Name}}">
                        {{range .Members}}
                    <option value="{{.}}">
                        {{end}}
                    <option value="{{.CreationDate}}">
                    <option value="{{.FirstAlbum}}">
                        {{range $city, $date := .RelationsData.DatesLocations}}
                    <option value="{{$city}}">
                            {{range $date}}
                    <option value="{{.}}">
                            {{end}}
                        {{end}}
                    {{end}}
                </datalist>
                <input class="btn" type="submit" value="Search">
                {{range .}}
            </form>
            <form class="card-btn" action="/artist" method="post">
                <button class="card" name="artist-btn" type="submit" value="{{.Name}}">
                    <img src="{{.Image}}" width="200" height="200" alt="{{.Name}}">
                    <h3 class="btn-artist">{{.Name}}</h3>
                </button>

                {{end}}
            </form>
                
        </article>
    </section>
        
    <footer class="footer">
        <p class="github-link">Made by <a href="https://github.com/aidynbaigarinov">Aidyn</a></p>
        <article class="quote">
            <p class="quote-p">"One good thing about music, when it hits you, you feel no pain."</p>
            <h3>Bob Marley</h3>
        </article>
    </footer>

    <script>
        window.onscroll = function() {scrollFunc()};

        var header = document.getElementById("top-header");
        var sticky = header.offsetTop;

        function scrollFunc() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }

    </script>
</body>
</html>
