<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Trackers | Artists</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>

    <section>

        <article class="card-table">

            
                <form action="/artist" name="artist-list" method="GET">
                    
                    <input type="submit" value="Go to">
                    <select name="artist">
                        {{range .}}
                        <option value="{{.Name}}">{{.Name}}</option>
                        {{end}}
                    </select>
                    
                </form>
            
        </article>

    </section>

</body>
</html>