<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Groupie Trackers | Artists</title>
</head>
<body>

    <article>

        <section>
            {{range .}}
                <h3>{{.Name}}</h3>
                <img src="{{.Image}}" alt="artist image" width="240">
                <ul>
                {{range .Members}}
                    <li>{{.}}</li>
                {{end}}
                </ul>
                <p>Creation Date: {{.CreationDate}} year</p>
                <p>First Album: {{.FirstAlbum}}</p>
            {{end}}
        </section>

    </article>

</body>
</html>